name: Build and Push Docker Image
on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Get latest release tag
        id: get_tag
        run: |
          LATEST_TAG=$(curl -s https://api.github.com/repos/pmkol/mosdns-x/releases/latest | jq -r .tag_name)
          echo "tag=$LATEST_TAG" >> $GITHUB_OUTPUT
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push original Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mosdns-x:${{ steps.get_tag.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/mosdns-x:latest
          platforms: linux/amd64,linux/arm64
      
      - name: Build and push no-IP Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.noip
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mosdns-x:${{ steps.get_tag.outputs.tag }}-noip
            ${{ secrets.DOCKERHUB_USERNAME }}/mosdns-x:noip
          platforms: linux/amd64,linux/arm64
      
      - name: Create empty commit to keep repo alive
        if: success()
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit --allow-empty -m "Build version ${{ steps.get_tag.outputs.tag }}"
          git push
